/* TRIPPIN COLORS */
/* TEAL: 66FCF1 */

.card-wrapper {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.card {
    font-family: 'Titillium Web', sans-serif;
    padding: 0;
    text-align: center;
    width: 300px;
    color: white;
    margin: 0 15px 25px 15px;
}

div.card-hover {
    background-color: #202020 !important;
    display: block;
    position: relative;
    bottom: 0;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
}

div.card-img-wrapper {
    overflow: hidden;
}

    div.card-img-wrapper img {
        -webkit-transition-duration: 0.5s;
        min-width: 300px;
        max-width: 300px;
        height: 200px;
        overflow: hidden;
    }

/* Card Hover Anims */
div.card:hover div.card-hover {
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.8);
    bottom: 10px;
    transition: 0.5s;
}

div.card:hover div.card-img-wrapper img {
    transform: scale(1.1);
    transition: 0.5s;
}

/* End of Card Hover Anims */

div.card .card-text h3 {
    font-weight: bold;
}

.card-text p {
    padding: 0 15px 0 15px;
}

.card-text span {
    background: white;
    color: black;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-transition-duration: 0.5s;
}

    .card-text span:hover {
        background: #8A2BE2;
        color: white;
        transition: 0.5s;
    }


@media screen and (max-width: 1000px) {
    div.card-hover {
        background-color: #202020 !important;
        display: block;
        position: relative;
        bottom: 0;
        overflow: hidden;
        -webkit-transition-duration: 0.5s;
    }
}


/* ADD TO TRIP SELECT STYLING */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.modal-body .form-control {
    padding: 5px 0 5px 0 !important;
    font-size: 17px !important;
    color: black !important;
    height: unset !important;
}

.form-control:focus {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
